### awk 命令使用

In [3]:
cat emp.data

Beth     4.00     0
Dan      3.75     0
Kathy    4.00     10
Mark     5.00     20
Mary     5.50     22
Susie    4.25     18

In [7]:
%%bash

awk '$3 == 0' emp.data

Beth     4.00     0
Dan      3.75     0
Dan      3.75     0

In [8]:
%%bash

awk '{print NR, $0}' emp.data

1 Beth     4.00     0
2 Dan      3.75     0
3 Kathy    4.00     10
4 Mark     5.00     20
5 Mary     5.50     22
6 Susie    4.25     18
2 Dan      3.75     0
3 Kathy    4.00     10
4 Mark     5.00     20
5 Mary     5.50     22
6 Susie    4.25     18

In [9]:
%%bash

awk '{print "total pay for", $1, "is", $2*$3}' emp.data

total pay for Beth is 0
total pay for Dan is 0
total pay for Kathy is 40
total pay for Mark is 100
total pay for Mary is 121
total pay for Susie is 76.5
total pay for Dan is 0
total pay for Kathy is 40
total pay for Mark is 100
total pay for Mary is 121
total pay for Susie is 76.5

In [11]:
%%bash

awk '{printf("total pay for %s is $%.2f\n", $1, $2*$3)}' emp.data

total pay for Beth is $0.00
total pay for Dan is $0.00
total pay for Kathy is $40.00
total pay for Mark is $100.00
total pay for Mary is $121.00
total pay for Susie is $76.50
total pay for Dan is $0.00
total pay for Kathy is $40.00
total pay for Mark is $100.00
total pay for Mary is $121.00
total pay for Susie is $76.50

In [12]:
%%bash

awk '{printf("%-8s $%6.2f\n", $1, $2*$3)}' emp.data

Beth     $  0.00
Dan      $  0.00
Kathy    $ 40.00
Mark     $100.00
Mary     $121.00
Susie    $ 76.50
Dan      $  0.00
Kathy    $ 40.00
Mark     $100.00
Mary     $121.00
Susie    $ 76.50

In [19]:
!awk '{printf("%-8s %-8s %-8s\n", $1, $2, $3)}' emp.data > emp2.data

In [4]:
!awk '{printf("%6.2f %s\n", $2*$3, $0)}' emp.data

  0.00 Beth 4.00 0
  0.00 Dan 3.75 0
 40.00 Kathy 4.00 10
100.00 Mark 5.00 20
121.00 Mary 5.50 22
 76.50 Susie 4.25 18

In [15]:
!echo 1 > 1.txt

In [21]:
# 通过文本内容选择
!awk '$1=="Susie"' emp.data

Susie    4.25     18

In [22]:
!awk '$2>=4 || $3>=20' emp.data

Beth     4.00     0
Kathy    4.00     10
Mark     5.00     20
Mary     5.50     22
Susie    4.25     18

In [23]:
# 数据验证  如果数据没有错误, 就不会有输出
!awk 'NF != 3 { print $0, "number of fields is not equal to 3" }' emp.data

In [25]:
!awk 'BEGIN { print "NAME RATE HOURS"; print "" } { print }' emp.data

NAME RATE HOURS

Beth     4.00     0
Dan      3.75     0
Kathy    4.00     10
Mark     5.00     20
Mary     5.50     22
Susie    4.25     18

In [26]:
!awk '$3 > 15 { emp = emp + 1 }\
END { print emp, "employees worked more than 15 hours" }' emp.data

3 employees worked more than 15 hours

In [32]:
# shell 换行 在每一行末尾添加\，后面不能有任何字符，否则会报错
!awk '{ pay = pay + $2 * $3 }\
END { print NR, "employees"}\
END {print "total pay is", pay}\
END {print "average pay is", pay / NR }' emp.data

6 employees
total pay is 337.5
average pay is 56.25

In [35]:
!awk '$2 > maxrate { maxrate = $2; maxemp = $1 }\
END { print "highest hourly rate:", maxrate, "for", maxemp }' emp.data

highest hourly rate: 5.50 for Mary

In [36]:
# 字符串拼接
!awk '{ names = names $1 " " }\ END { print names }' emp.data

Beth Dan Kathy Mark Mary Susie

In [37]:
# 字符串拼接
# 用来存储字符串的变量的初始值默认为空字符串(也就是说该字符串不包含任何字符)
# 在一个awk 程序中, 字符串的拼接操作通过陆续写出字符串来完成. 
# 对每一个输入行, 下面程序中的第一条语句将三个字符串连接在一起
!awk '{ names = names $2 " " }\
END { print names }' emp.data

4.00 3.75 4.00 5.00 5.50 4.25

In [1]:
# 打印最后一行
# 虽然在END 动作里, NR 的值被保留了下来, 但是$0 却不会
!awk '{ last = $0 } END { print last }' emp.data

Susie    4.25     18

In [2]:
# 内建函数
# length, 它用来计算字符串中字符的个数
!awk '{ print $1, length($1) }' emp.data

Beth 4
Dan 3
Kathy 5
Mark 4
Mary 4
Susie 5

In [ ]:
# awk模板
!awk '' emp.data

In [10]:
# 打印每一个输入行的最后一个字段
!awk '{print $NF}' emp.data

0
0
10
20
22
18

In [12]:
# 打印第10 行
!awk 'NR==3' emp.data

Kathy    4.00     10

In [14]:
# 输入行的总行数
!awk 'END{print NR}' emp.data

6

In [16]:
# 打印字段数多于2 个的输入行
!awk 'NF>2' emp.data

Beth     4.00     0
Dan      3.75     0
Kathy    4.00     10
Mark     5.00     20
Mary     5.50     22
Susie    4.25     18

In [17]:
# 打印最后一个字段值大于1 的输入行
!awk '$NF>1' emp.data

Kathy    4.00     10
Mark     5.00     20
Mary     5.50     22
Susie    4.25     18

In [18]:
# 打印所有输入行的字段数的总和
!awk '{ nf = nf + NF } END { print nf }' emp.data

18

In [19]:
# 打印包含Beth 的行的数量
!awk '/Beth/ { nlines = nlines + 1 } END { print nlines }' emp.data

1

In [20]:
# 打印至少包含一个字段的行
!awk 'NF>0' emp.data

Beth     4.00     0
Dan      3.75     0
Kathy    4.00     10
Mark     5.00     20
Mary     5.50     22
Susie    4.25     18

In [21]:
# 在每一行的前面加上它的字段数
!awk '{ print NF, $0 }' emp.data

3 Beth     4.00     0
3 Dan      3.75     0
3 Kathy    4.00     10
3 Mark     5.00     20
3 Mary     5.50     22
3 Susie    4.25     18

In [22]:
# 交换每一行的第1 与第2 个字段, 并打印该行
!awk '{ temp = $1; $1 = $2; $2 = temp; print }' emp.data

4.00 Beth 0
3.75 Dan 0
4.00 Kathy 10
5.00 Mark 20
5.50 Mary 22
4.25 Susie 18

In [23]:
# 将每一行的第一个字段用行号代替
!awk '{$1 = NR; print }' emp.data

1 4.00 0
2 3.75 0
3 4.00 10
4 5.00 20
5 5.50 22
6 4.25 18

In [24]:
# 打印删除了第2 个字段后的行
!awk '{ $2 = ""; print }' emp.data

Beth  0
Dan  0
Kathy  10
Mark  20
Mary  22
Susie  18

In [28]:
# 将每一行的字段按逆序打印
!awk '{ for (i = NF; i > 0; i = i - 1) {printf("%s ", $i)} {printf("\n")}}' emp.data

0 4.00 Beth
0 3.75 Dan
10 4.00 Kathy
20 5.00 Mark
22 5.50 Mary
18 4.25 Susie